body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
  margin: 20px;
}

.app button {
  background-color: #b0ffff;
  border-color: #e0ffff;
  color: #111;
  border-radius: 0.25em;
  cursor: pointer;
  padding: 5px;
  margin: 2px;
}

.contents {
  padding: 10px;
}

.task {
  background-color: #b0ffff;
  margin: 2em;
  cursor: pointer;
}

.task-relevant {
  background-color: #ffb0b0;
}

.popup {
  background-color: #50ffff;
  position: absolute;
  left: calc(0% + 20px);
  top: calc(0% + 20px);
  width: calc(100% - (20px * 2));
  height: 420px;
  overflow-y: scroll;
}

.popup-relevant {
  background-color: #ff8080;
}

.popup-relevant button {
  background-color: #ffb0b0;
}

.label {
  display: inline-block;
  width: 100px;
}

.day-input input[type="number"],
textarea {
  width: 42px;
}

.year-input input[type="number"],
textarea {
  width: 58px;
}

.mandatory input[type="text"],
textarea {
  background-color: #ffb0b0;
}
